<div class="flex gap-half justify-space-between align-center" style="--btn-icon-size: 1rem">
  <%= user.name %>

  <% if bubble.assigned_to?(user) %>
    <%= image_tag "check.svg", aria: { hidden: "true" } %>
  <% end %>
</div>
