<details name="assignments" class="position-relative" data-controller="expandable" data-action="focusout->expandable#closeOnFocusOutside">
  <summary class="btn full-width justify-start borderless">
    <%= image_tag "tag.svg", aria: { hidden: true }, size: 24 %>
    <span>Tag this</span>
  </summary>

  <%= form_with url: bucket_bubble_tagging_toggles_path(bubble.bucket, bubble), data: { controller: "form" } do |form| %>
    <%= form.combobox :tag_id, bucket_bubble_tags_path(bubble.bucket, bubble),
          required: true, preload: true, name_when_new: "tag_title",
          data: { controller: "autofocus", action: "hw-combobox:selection->form#submit" } %>
  <% end %>
</details>
