<div class="flex gap-half justify-space-between align-center" style="--btn-icon-size: 1rem">
  <%= tag.hashtag %>

  <% if bubble.tagged_with?(tag) %>
    <%= image_tag "check.svg", aria: { hidden: "true" } %>
  <% end %>
</div>
